@model AppPrint_and_Wear.Models.CartItem

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Detalles del Item del Carrito";
}

<h1>Detalles del Item del Carrito</h1>

<div>
    <h4>Información del Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class="col-sm-10" style="color: green;">
            ₡@Model.SubTotal.ToString("N2")
        </dd>

        <dt class="col-sm-2">
            Carrito
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Carrito_De_Compra_Id)
        </dd>

        <dt class="col-sm-2">
            Producto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Productos.Descripcion)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.CartItemId" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>
