@model IEnumerable<AppPrint_and_Wear.Models.CartItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrito_De_Compra_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrito_De_Compra_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productos.ProductoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CartItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CartItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CartItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
