@model AppPrint_and_Wear.Models.Envio

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Delete";
}

<h1>Elimianar</h1>

<h3>Esta seguro de querer eliminar?</h3>
<div>
    <h4>Envio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_De_Envio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion_De_Envio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tiempo_Estimado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tiempo_Estimado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_De_Rastreo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_De_Rastreo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrito.Carrito_De_CompraId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EnvioId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
