@model AppPrint_and_Wear.Models.Envio

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Envio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_De_Envio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion_De_Envio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tiempo_Estimado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tiempo_Estimado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_De_Rastreo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_De_Rastreo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrito.Carrito_De_CompraId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EnvioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
